<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <p><%= title %> | Só pra quem pode...</p>
  <a href="/convidados">Ver Lista de Convidados</a>
  <a href="/convidados/vip">Ver Lista de Convidados VIPs</a>
  <a href="/convidados/adicionar">Adicionar Convidado</a>
</main>

<%- include('partials/footer') %>